/* Gesamter Bereich */
* {
	font-family: 'Roboto', non-serif;
	font-size: 16px;
}

html,body{
	max-width: 100%;
	overflow-x: hidden;
}

body {
	background-color: #f1efed;

}

div#wrapper{
	min-height: calc(100vh - 60px);
	height: 100%;
}

div.container {
	max-width: 970px;
}

/* Kopfbereich */
div#header {
	margin-bottom: 30px;
}

div#title {
	background-color: #7F3589;
	height: 116.125px;
}

div#header h1 {
	text-align: center;
	color: #ffffff;
	margin-top: 35px;
}
div#logo {
	background-color: #ffffff;
}
.logo {
	width: 269px;
	float: right;
}

/* Inhaltsbereich */
h4{
	margin-left: 10px;

}

form {
	background-color: #ffffff;
	margin: 20px 0 20px 0;
	padding: 10px;
	padding-bottom: 20px;
}

div.box {
	padding: 10px 20px 20px 20px;
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: #ffffff;
}


div#introductionContainer {
	padding: 0 10px;
	display: flex;
	background-color: #ffffff;
	align-items: center;
	border-radius: 3px;
}
i#introductionIcon{
	color: #7F3589;
	margin-left: 15px;
	margin-right: 20px;
}
p#introduction {
	margin-top: 23px;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

.a-kosten {
	display: block;
	padding: 12px;
}

.a-kosten:hover {
	background-color: #8cbd3a;
	color: white;
}

td.td-kosten {
	padding: 0;
}

.card {
	margin-bottom: 12px;
}

/* Formulare */
p#submit-buttons {
	margin-left: 10px;
}

.btn-default {
	background: linear-gradient(to left, #7F3589 50%, #8cbd3a 50%) right;
	color: white;
	width: 150px;
	border-radius: revert;
	border: none;
	background-size: 180%;
	transition: all .5s ease-out;
}

.btn-default:hover {
	background-position: left;
	background-size: 200%;
}

.btn-green {
	background-color: white;
	color: black;
	border: 1px solid #ddd;

}

.btn-light{
	background-color: #f1efed;
	width: 150px;
	margin-left: 10px;
	border-radius: revert;
}

.btn-group-toggle {
	margin-bottom: 10px;
}

:not(:disabled):not(.disabled).btn-green.active, :not(:disabled):not(.disabled).btn-green:active, .show > .btn-green.dropdown-toggle {
	background-color: #8cbd3a;
	color: white;
	border-color: #8cbd3a;
}

@media screen and (max-width: 767.5px) {
    .btn-group-toggle {
		display: block;
	}
	
	.btn.btn-green {
		width: 100%;
		margin-bottom: 10px;
	}
}

div.alert{
	margin-top: 10px;
}

/* Dropdown */
.dropdown-praemienort {
	width: 100%;
}

/*Eingabefelder */
select {
	height: 34px;
	border-radius: 5px;
	border: 1px solid #CCC;
	padding: 6px 12px;
}

/* Fussbereich */
div#footer {
	color: #ffffff;
	height: 60px;
	width: 100%;
	background-color: #7F3589;
}

div#footer p {
	text-align: center;
	line-height: 60px;
}
